---
type Props = {
  currentPath: string;
};

const { currentPath } = Astro.props;

const navLinks = [
  { title: "Home", url: "/" },
  { title: "Lessons", url: "/lessons" },
  { title: "Resources", url: "/resources" },
];

import { NotebookText } from "@lucide/astro";
---

<div class="course-nav flex items-center justify-between flex-1">
  <a class="font-medium text-accent text-2xl flex gap-3 items-center" href="/">
    <span class="border border-accent px-2 py-2 border-[0.5px]">
      <NotebookText />
    </span>
    PM Learning Tool</a
  >
  <nav class="flex gap-6" aria-label="Main navigation">
    {
      navLinks.map(({ title, url }) => (
        <a
          class:list={[
            "text-normal text-lg text-primary hover:text-accent transition-colors duration-200",
            { "is-active": currentPath === url },
          ]}
          href={url}
        >
          {title}
        </a>
      ))
    }
  </nav>
</div>
