---
type Props = {
  currentPath: string;
};

const { currentPath } = Astro.props;

const navLinks = [
  { title: "Home", url: "/" },
  { title: "Lessons", url: "/lessons" },
  { title: "Resources", url: "/resources" },
];

import { NotebookText } from "@lucide/astro";
import HamburgerMenu from "./HamburgerMenu.astro";
---

<div class="course-nav flex items-center justify-between w-full">
  <a
    class="font-medium text-accent text-xl md:text-2xl flex gap-1 items-center"
    href="/"
  >
    <NotebookText />
    PM Learning Tool</a
  >
  <nav class="desktop-nav" aria-label="Main navigation">
    {
      navLinks.map(({ title, url }) => (
        <a
          class:list={[
            "text-normal text-lg text-primary hover:text-accent transition-colors duration-200",
            { "is-active": currentPath === url },
          ]}
          href={url}
        >
          {title}
        </a>
      ))
    }
    <slot name="theme-toggle" />
  </nav>
  <HamburgerMenu currentPath={currentPath}>
    <Fragment slot="theme-toggle">
      <slot name="theme-toggle" />
    </Fragment>
  </HamburgerMenu>
</div>
