---
type Props = {
  currentPath: string;
};

const { currentPath } = Astro.props;
---

<div class="course-nav flex">
  <a class="course-nav__brand" href="/">PM Learning Tool</a>
  <nav class="course-nav__modules" aria-label="Main navigation">
    <a
      class:list={["course-nav__module", { "is-active": currentPath === "/" }]}
      href="/"
    >
      Home
    </a>
    <a
      class:list={[
        "course-nav__module",
        { "is-active": currentPath === "/lessons" },
      ]}
      href="/lessons"
    >
      Lessons
    </a>
    <a
      class:list={[
        "course-nav__module",
        { "is-active": currentPath === "/resources" },
      ]}
      href="/resources"
    >
      Resources
    </a>
  </nav>
</div>
